/* add button */

#add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7f8bff;
  margin: 1rem 2.5rem 1rem 0;
  padding: 1.5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(white, white),
    linear-gradient(0deg, rgba(31, 188, 255, 1) 0%, rgba(191, 108, 255, 1) 73%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;
}

#add-btn:hover {
  color: #5961b3;
  cursor: pointer;
}

.crud-button-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 7px 8px 7px 8px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

/* edit/delete buttons */

#edit-delete-container {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 8px 14px 0 0;
}

.edit-delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7f8bff;
  margin-right: 0.4rem;
  padding: 1.5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(white, white),
    linear-gradient(0deg, rgba(31, 188, 255, 1) 0%, rgba(191, 108, 255, 1) 73%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;
}

.edit-delete-btn:hover {
  color: #5961b3;
  cursor: pointer;
}

/* add/edit forms */

.input-form-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0 4rem;
}

.position-button {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 2rem 5px 0;
}

.label-for-form {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  text-align: center;
}

.input-spaces {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #7f8bff;
  border-radius: 10px;
  text-align: center;
  color: #5961b3;
  cursor: pointer;
}

.input-spaces:focus {
  text-align: center;
  border: 2px solid #5961b3;
  caret-color: #7f8bff;
  color: #5961b3;
  outline: none;
}

.input-group > div {
  box-sizing: border-box;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
    linear-gradient(0deg, rgb(31, 188, 255, 1) 0%, rgba(191, 108, 255, 1) 73%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* errors */

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 6rem 0 6rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  border-radius: 10px;
  background-color: rgb(255, 0, 0, 0.2);
}

.hide-errorless-div {
  display: none;
}

.error {
  color: red;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.4px;
  margin-top: 0.25rem;
  text-align: center;
  width: 100%;
}

.item-container {
  align-items: flex-start; 
  gap: 20px; 
  max-width: 100%;
}

.gif-container {
  flex-shrink: 0; 
}

.rounded-gif {
  max-width: 370px; 
  height: auto; 
  border-radius: 10px;
}

.tracker-container {
  flex-grow: 1; 
  min-width: 300px; 
  max-width: 100%;
}